/* Pon tu código css aqui */
body{
    margin: 0;
    padding: 0;
}

.uno{
    height: 200px;
    width: 200px;
    position: static;
    background-color: #ee3e64;
    
    
}

.dos{
    height: 200px;
    width: 200px;
     position: absolute;
    background-color: #44accf;
    right : 0;
    top: 0;
    
    
}

.tres{
    height: 200px;
    width: 200px;
     position:absolute;
    background-color: #b7d84b;
    left: 0;
     bottom: 0;
    
    
}

.cuatro{
    height: 200px;
    width: 200px;
    position:absolute;
    background-color: yellow;
    right: 0;
    bottom: 0;
    
}



